<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Flash card</h1>
    <p>
        Question: {{card.question}}<br>
        Answer: {{card.answer}}
    </p>
     {% if index < max_lengt %}
     <button>
        <a href="{{url_for('flash_card',index = index + 1)}}">
            Next Card
        </a>
    </button>
    {% else %}
     <button>
        <a href="{{url_for('flash_card',index = 0)}}">
            Start Over
        </a>
    </button>
    {% endif%}
</body>
</html>